#mainForm{
  display: flex;
  gap: 10px;
  width: 90%;
  height: 20vh;
  margin: auto;
  margin-top: 50px;
}
#mainForm div div label{
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bolder;
}
.campos{
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}
.campos div{
  display: flex;
  flex-direction: column;
  width: 130px;
}
.campos div input{
  height: 50px;
  width: 100%;
  padding: 5px 10px;
  outline: none;
  font-size: 30px;
  font-weight: bolder;
  color: #909394;
  border-radius: 10px;
}
.campos div input:focus {
  border: 1px solid #000;
}

.campos div div{
  padding: 5px 10px;
  font-size: 15px;
  color: #FF5757;
}
.campos div input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.campos div input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}
.arrow{
  background-color: #854CFF;
  border: none;
  width: 20px;
}
.botao{
  background-color: #854CFF;
  padding: 15px;
  border-radius: 50%;
  align-self: flex-start;
  position: absolute;
  right: 100px;
  top: 200px;
}
.mudaLabelDia, .mudaLabelMes, .mudaLabelAno {
  color: #FF5757;
}
.mudaInputDia, .mudaInputMes, .mudaInputAno{
  border: 1px solid #FF5757;
}
.result{
  margin: auto;
  width: 90%;
  margin-top: 100px;
}
.result h2{
  margin-left: 40%;
  font-size: 4vw;
}
.result h2 span{
  color: #854CFF;
  font-size: 5vw;
}
@media (max-width: 570px){
  #mainForm{
    flex-direction: column;
  }
  .botao{
    position: relative;
    right: 0px;
    top: 0px;
    margin: auto;
    margin-top: 40px;
  }
  .campos div{
    width: 33%;
  }
  .result{
    margin-top: 140px;
  }
  .result h2{
    font-size: 7vw;
  }
  .result h2 span{
    font-size: 9vw;
  }
}