#mainForm{
  display: flex;
  background-color: aqua;
  gap: 10px;
}
#mainForm div div label{
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 15px;
}
.campos{
  display: flex;
  gap: 20px;
}
.campos div{
  display: flex;
  flex-direction: column;
  background-color: yellow;
}
.campos div input{
  height: 50px;
  width: 130px;
  padding: 5px 10px;
  outline: none;
  font-size: 30px;
  font-weight: bolder;
  color: #909394;
}

.campos div div{
  padding: 5px 10px;
  font-size: 15px;
  color: #FF5757;
}
.campos div input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.campos div input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}


.arrow{
  background-color: #854CFF;
  border: none;
  width: 20px;
}
.botao{
  background-color: #854CFF;
  padding: 15px;
  border-radius: 50%;
  align-self: flex-start;
}
.mudaLabelDia{
  color: #FF5757;
}
.mudaInputDia{
  border: 1px solid #FF5757;
}